.header {
  margin: 10px auto;
  padding: 10px;
  box-sizing: border-box;
  color: #0000CD;
  height: max-content;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
}

.header-title {
  font-size: 26px;
}

.header-link {
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
  display: flex;
  justify-content: flex-end;
  height: fit-content;
  width: fit-content;
}

.header-link-1 {
  text-decoration: none;
  margin: 0px 10px;
}


.main {
  height: 800px;
  width: 1500px;
  position: relative;
}

.main-article {
  font-size: 70px;
  font-weight: lighter;
  position: absolute;
  top: 66%;
}

.main-img-1 {
  background-color: #0000CD;
  height: 25%;
  width: 1075px;
  position: absolute;
  top: 75%;
}

.main-img-2 {
  position: absolute;
  top: 25%;
  left: 750px;
}
.main-img-2 img {
  height: 50%;
  width: 750px;
}